.App {
	text-align: center;
	height: 100%;
	color: white;
}

.App-header {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
}

.App-container {
	display: flex;
	justify-content: space-around;
}

.webcam-container {
	text-align: center;
	min-height: 350px;
	width: 350px;
	min-width: 350px;
}

.game-container {
	width: 100%;
}

.computer-response-container {
	width: 350px;
	border: 1px solid white;
	border-radius: 0.25rem;
	max-width: 350px !important;
}

.img {
	border: 1px solid white;
}

.hoverable {
	position: relative;
	width: 350px;
	height: 350px;
}

.parent-cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: hsla(0, 0, 15%, 0.5);
}

.computer-response-container > .relative {
	position: relative;
	top: 20%;
}

.button-container {
	margin-top: 2rem;
}

.detailed-response-container {
	color: gray;
	font-family: 'Courier New', Courier, monospace;
	max-width: 200px;
	margin: auto;
}

.json {
	text-align: left;
}

.json > span {
	margin-left: 2rem;
}
